<h1>New Post</h1>

<%= form_for :task, url: tasks_path do |f| %>
	<p>
		<%= f.label :taskName %><br />
		<%= f.text_field :taskName %>
	</p>
	
	<p>
	    <%= f.label 'Deadline' %><br>
	    <%= date_select("task", "taskDate", :order => [:day, :month, :year]) %>
 	</p>
	
	<p>
		<%= f.label :taskContent %><br />
		<%= f.text_area :taskContent, :cols => 70, :rows => 10 %>
	</p>
 	
 	<p>
	  	<%= label_tag(:taskCompleted, "Task completed") %>
	    <%= check_box("task", "taskCompleted") %>
	</p>
	
	<p>
		<%= f.hidden_field :directoryID, :value => params[:id] %>
		<%= f.submit %>
	</p>
<% end %>
