<h1>New Directory</h1>

<%= form_for :taskDirectory, url: task_directories_path do |f| %>
	<p>
		<%= f.hidden_field :userID, :value => session[:user_id] %>
	</p>
	
	<p>
		<%= f.label :directoryName %><br />
		<%= f.text_field :directoryName, :size => 40 %>
	</p>
	
	<p>
		<%= f.submit %>
	</p>
<% end %>