<h1>Nieuwe Directory</h1>
<br />
<br />
<br />
<br />
<div id = "listUsers">
	<%= form_for :taskDirectory, url: task_directories_path do |f| %>
		<p>
			<%= f.hidden_field :userID, :value => session[:user_id] %>
		</p>
		
		<p>
			<%= f.label :Naam %><br />
			<%= f.text_field :directoryName, :size => 40 %>
		</p>
		
		<p>
			<%= f.submit %>
		</p>
	<% end %>
</div>

<%= link_to 'Back', task_directories_path %>
