<%= render 'layouts/header'%>

<table>
	<tr>
		<th>
			Vaknaam
		</th>
		<td>
			<%= @information[0].vaknaam.html_safe %>
		</td>
	</tr>
	<tr>
		<th>
			Beschrijving
		</th>
		<td>
			<%= @information[0].beschrijving.html_safe %>
		</td>
	</tr>
	<tr>
		<th>
			Periode
		</th>
		<td>
			<%= @information[0].periode.html_safe %>
		</td>
	</tr>
	<tr>
		<th>
			ECTS
		</th>
		<td>
			<%= @information[0].ects %>
		</td>
	</tr>
	<tr>
		<th>
			Docenten
		</th>
		<td>
		<% 		
		@docenten.each do |item| 
		%>
			<a href="<%= item.docentURL %>"><%= item.docentNaam %></a><br />
		<%
		end
		%>
		</td>
	</tr>
	<tr>
		<th>
			Leerdoelen
		</th>
		<td>
			<%= @information[0].leerdoelen.html_safe %>
		</td>
	</tr>
</table>

<%= render 'layouts/footer'%>