<%= render 'layouts/header'%>

<select onchange="location = this.options[this.selectedIndex].value;">
	<option value="/course/list/all" <%= @all %>>All</option>
	<% 		
	@institutes.each do |item| 
	%>
		<option value="/course/list/<%= item.id %>"<%=
		if params[:instituut] == item.id
			' SELECTED'
		end %>><%= item.faculteitnaam %></option>
	<% end %>
</select>

<input id="searchInput2" value="Filteren">
<table data-role="table" id="table-custom-2" data-mode="column" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-popup-theme="a">
	<thead>
		<tr class="ui-bar-d">
			<th>Vaknaam</th>
			<th>Periode</th>
			<th>ECTS</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody id="fbody">
		<% @courses.each do |item| %>
			<tr onmouseover="this.bgColor='#C9FBFF'" onmouseout="this.bgColor=''">
				<td class="clickableRow" href="/course/information/<%= item.id %>"><%= CGI.unescapeHTML(item.vaknaam) %></td>
				<td class="clickableRow" href="/course/information/<%= item.id %>"><%= item.periode %></td>
				<td class="clickableRow" href="/course/information/<%= item.id %>"><%= item.ects %></td>
				<td width="10px"><a href="/saved/add/<%= item.id %>"><img src="/assets/images/save.png" width="30px" /></td>
				<td width="10px"><a href="/favorite/add/<%= item.id %>"><img src="/assets/images/favorite.png" width="30px" /></td>
			</tr>
		<% end %>
	</tbody>
</table>


<p >&nbsp;</p>

<%= render 'layouts/footer'%>