
<table data-role="table" id="table-custom-2" data-mode="column" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-popup-theme="a">
	<thead>
		<tr class="ui-bar-d">
			<th>Summoner Name</th>
			<th>Champion</th>
			<th>Rank</th>
			<th>Normal wins</th>
			<th>Ranked wins</th>
			<th>Runes</th>
			<th>Masteries</th>
		</tr>
	</thead>
	<tbody>
		<%
		@currentGame.body["game"]["teamOne"]["array"].each do |summoner| 
		%>
		<tr>
			<td><%= summoner["summonerName"] %></td>
			<% 
			@currentGame.body["game"]["playerChampionSelections"]["array"].each do |champion|
				if champion["summonerInternalName"] == summoner["summonerInternalName"] %>
					<td>
						<%=
							champion["championId"]
						%>
					</td>
				<%
				end
			end
			%>
			<%
			league = Unirest::get "https://community-league-of-legends.p.mashape.com/api/v1.0/"+@region.to_s+"/summoner/getLeagueForPlayer/"+summoner["summonerId"].to_s, 
			  headers: { 
			    "X-Mashape-Authorization" => "IXt7GY5xmWWa3ttWI00vJs13GRR96P9S"
			  }
			%>			  
			<td><%= league.body["tier"] %></td>
		<% end %>
		</tr>
		
		<%
		@currentGame.body["game"]["teamTwo"]["array"].each do |summoner| 
		%>
		<tr>
			<td><%= summoner["summonerName"] %></td>
			<% 
			@currentGame.body["game"]["playerChampionSelections"]["array"].each do |champion|
				if champion["summonerInternalName"] == summoner["summonerInternalName"] %>
					<td>
						<%=
							champion["championId"]
						%>
					</td>
				<%
				end
			end
			%>
			<%
			league = Unirest::get "https://community-league-of-legends.p.mashape.com/api/v1.0/"+@region.to_s+"/summoner/getLeagueForPlayer/"+summoner["summonerId"].to_s, 
			  headers: { 
			    "X-Mashape-Authorization" => "IXt7GY5xmWWa3ttWI00vJs13GRR96P9S"
			  }
			%>
			<td><%= league.body["tier"]+" "+league.body["requestorsRank"]%></td>
			<%
			stats = Unirest::get "https://community-league-of-legends.p.mashape.com/api/v1.0/"+@region.to_s+"/summoner/retrievePlayerStatsByAccountId/"+summoner["summonerId"].to_s, 
			  headers: { 
			    "X-Mashape-Authorization" => "IXt7GY5xmWWa3ttWI00vJs13GRR96P9S"
			  }
			%>
			<td> </td>
		<% end %>
		</tr>
	</tbody>
</table>